In [383]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [521]:
plt.style.use("seaborn")

In [506]:
print(plt.style.available)

['bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark-palette', 'seaborn-dark', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'seaborn', 'Solarize_Light2', 'tableau-colorblind10', '_classic_test']

In [466]:
print(os.listdir())

['.ipynb_checkpoints', 'data_description.txt', 'sample_submission.csv', 'test.csv', 'train.csv', 'Untitled.ipynb']

In [467]:
df = pd.read_csv("_database/Input/train.csv", index_col = 0) # read the data

In [468]:
def get_instruction(label):
    
    col_names = df.columns
    
    # input check
    if (not label in col_names) | (label == "SalePrice"):
        print("Error, column name not specified!")
        return 
    
    
    next_label = col_names[int([i+1 for i, val in enumerate(col_names) if val == label][0])]

    with open("_database/Input/data_description.txt") as desc:
        finish = False
        while True:
            if finish:
                break
            line = desc.readline()

            if label in line:
                print(line, end = "")

                while True:
                    line = desc.readline()
                    if (next_label in line) | (line == ""):
                        finish = True
                        break
                    print(line, end = "")
    return

In [469]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [470]:
print(df.shape)

(1460, 80)

In [471]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 80 columns):
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(34), object(43)
memory usage: 923.9+ KB
None

#### Number of type

In [472]:
np.sum(df.dtypes == "int64")

34

In [473]:
np.sum(df.dtypes == "object")

43

In [474]:
np.sum(df.dtypes == "float64")

3

### Handling Missing Values

Number of missing values each variables

In [475]:
def var_missing():
    print("Variable with number of missing values:\n")
    print(df.isna().apply(sum)[df.isna().apply(sum) > 0])
    return

In [476]:
var_missing()

Variable with number of missing values:

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

##### For electrical :

In [477]:
get_instruction("Electrical")

Electrical: Electrical system

       SBrkr	Standard Circuit Breakers & Romex
       FuseA	Fuse Box over 60 AMP and all Romex wiring (Average)
       FuseF	60 AMP Fuse Box and mostly Romex wiring (Fair)
       FuseP	60 AMP Fuse Box and mostly knob & tube wiring (poor)
       Mix	Mixed

Since electrical variable only has 1 missing value, we can drop it, notice that it is categorical so we can't impute it

In [478]:
df = df.loc[df["Electrical"].isna() == False,:]

In [479]:
df.shape

(1459, 80)

##### Garage

In [480]:
var_missing()

Variable with number of missing values:

LotFrontage      259
Alley           1368
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
FireplaceQu      689
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1452
Fence           1178
MiscFeature     1405
dtype: int64

Now, we're looking for the garage variables, it shows that 81 of the obervations have NaN values on garage variables, one might guess that there are 81 houses that don't have garage, we can also check if all garage variables are NaN.

In [481]:
garage = list(df.columns[["Garage" in col for col in df.columns]]) # find garage columns
print(garage)

['GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond']

In [482]:
df.loc[df["GarageType"].isna(),garage]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,
40,NaN,NaN,NaN,0,0,NaN,NaN
49,NaN,NaN,NaN,0,0,NaN,NaN
79,NaN,NaN,NaN,0,0,NaN,NaN
89,NaN,NaN,NaN,0,0,NaN,NaN
90,NaN,NaN,NaN,0,0,NaN,NaN
...,...,...,...,...,...,...,...
1350,NaN,NaN,NaN,0,0,NaN,NaN
1408,NaN,NaN,NaN,0,0,NaN,NaN
1450,NaN,NaN,NaN,0,0,NaN,NaN
1451,NaN,NaN,NaN,0,0,NaN,NaN
1454,NaN,NaN,NaN,0,0,NaN,NaN

In [483]:
# View instruction of garage variables
for variab in garage:
    get_instruction(variab)

GarageType: Garage location

       2Types	More than one type of garage
       Attchd	Attached to home
       Basment	Basement Garage
       BuiltIn	Built-In (Garage part of house - typically has room above garage)
       CarPort	Car Port
       Detchd	Detached from home
       NA	No Garage

GarageYrBlt: Year garage was built

GarageFinish: Interior finish of the garage

       Fin	Finished
       RFn	Rough Finished
       Unf	Unfinished
       NA	No Garage

GarageCars: Size of garage in car capacity

GarageArea: Size of garage in square feet

GarageQual: Garage quality

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor
       NA	No Garage

GarageCond: Garage condition

       Ex	Excellent
       Gd	Good
       TA	Typical/Average
       Fa	Fair
       Po	Poor
       NA	No Garage

In [484]:
df["GarageType"].value_counts()

Attchd     870
Detchd     387
BuiltIn     87
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

Here, we see that NA value in variable "garage" means that the house doesn't have garage (not a missing values), but pandas think that it has a missing values. We can fix this problem by fill na.

In [485]:
df.loc[df["GarageType"].isna(), ["GarageType", "GarageYrBlt", "GarageFinish", "GarageQual", "GarageCond"]] = df.loc[df["GarageType"].isna(), ["GarageType", "GarageYrBlt", "GarageFinish", "GarageQual", "GarageCond"]].fillna("NA")

In [486]:
df["GarageType"].value_counts()

Attchd     870
Detchd     387
BuiltIn     87
NA          81
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

##### Basement

In [487]:
var_missing()

Variable with number of missing values:

LotFrontage      259
Alley           1368
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
FireplaceQu      689
PoolQC          1452
Fence           1178
MiscFeature     1405
dtype: int64

In [488]:
basement = list(df.columns[["Bsmt" in col for col in df.columns]]) # find basement columns
print(basement)

['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath']

In [489]:
df.loc[df[basement[0]].isna(),basement].head(10) # view the basement variables with missing values

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
Id,,,,,,,,,,,
18,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
40,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
91,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
103,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
157,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
183,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
260,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
343,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
363,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0
372,NaN,NaN,NaN,NaN,0,NaN,0,0,0,0,0

In [490]:
for col in basement:
    get_instruction(col)

BsmtQual: Evaluates the height of the basement

       Ex	Excellent (100+ inches)
       Gd	Good (90-99 inches)
       TA	Typical (80-89 inches)
       Fa	Fair (70-79 inches)
       Po	Poor (<70 inches
       NA	No Basement

BsmtCond: Evaluates the general condition of the basement

       Ex	Excellent
       Gd	Good
       TA	Typical - slight dampness allowed
       Fa	Fair - dampness or some cracking or settling
       Po	Poor - Severe cracking, settling, or wetness
       NA	No Basement

BsmtExposure: Refers to walkout or garden level walls

       Gd	Good Exposure
       Av	Average Exposure (split levels or foyers typically score average or above)
       Mn	Mimimum Exposure
       No	No Exposure
       NA	No Basement

BsmtFinType1: Rating of basement finished area

       GLQ	Good Living Quarters
       ALQ	Average Living Quarters
       BLQ	Below Average Living Quarters
       Rec	Average Rec Room
       LwQ	Low Quality
       Unf	Unfinshed
       NA	No Basement

BsmtFinSF1: Type 1 finished square feet

BsmtFinType2: Rating of basement finished area (if multiple types)

       GLQ	Good Living Quarters
       ALQ	Average Living Quarters
       BLQ	Below Average Living Quarters
       Rec	Average Rec Room
       LwQ	Low Quality
       Unf	Unfinshed
       NA	No Basement

BsmtFinSF2: Type 2 finished square feet

BsmtUnfSF: Unfinished square feet of basement area

TotalBsmtSF: Total square feet of basement area

BsmtFullBath: Basement full bathrooms

BsmtHalfBath: Basement half bathrooms

Again, NA on basement variables are not missing values, we can also see that the observation that has NA on one of the basement variable is also NA on the other basement variables. However, we have another problem, there are 37 NA values in BsmtQual and 38 NA values in BsmtExposure and BsmtFinType2

In [491]:
# find NaN on BsmtExposure but not on BsmtQual
falacy_1 = (df["BsmtQual"].isna() == False) & (df["BsmtExposure"].isna())
df.loc[falacy_1,basement]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
Id,,,,,,,,,,,
949,Gd,TA,NaN,Unf,0,Unf,0,936,936,0,0

In [492]:
# find NaN on BsmtFinType2 but not on BsmtQual
falacy_2 = (df["BsmtQual"].isna() == False) & (df["BsmtFinType2"].isna())
df.loc[falacy_2,basement]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
Id,,,,,,,,,,,
333,Gd,TA,No,GLQ,1124,NaN,479,1603,3206,1,0

Since NA means no basement, These two observations are wrong. BmstQual says that the basement is good but BsmtExposure says no basement on falacy 1 and BmstFinType2 says no basement on falacy 2. One solution is to drop these observations since there are only 2 observations

In [493]:
df = df.loc[(falacy_1 == False) & (falacy_2 == False), :]

Then we can change NaN values of the basement variables by string "NA"

In [494]:
df["BsmtQual"].value_counts()

TA    649
Gd    615
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [495]:
df.loc[df["BsmtQual"].isna(), ["BsmtQual", "BsmtCond", "BsmtExposure", "BsmtFinType1", "BsmtFinType2"]] = df.loc[df["BsmtQual"].isna(), ["BsmtQual", "BsmtCond", "BsmtExposure", "BsmtFinType1", "BsmtFinType2"]].fillna("NA")

In [496]:
df["BsmtQual"].value_counts()

TA    649
Gd    615
Ex    121
NA     37
Fa     35
Name: BsmtQual, dtype: int64

##### Alley and Fireplace

In [497]:
var_missing()

Variable with number of missing values:

LotFrontage     259
Alley          1366
MasVnrType        8
MasVnrArea        8
FireplaceQu     689
PoolQC         1450
Fence          1176
MiscFeature    1403
dtype: int64

In [498]:
variable_na = ["Alley", "FireplaceQu", "PoolQC", "Fence", "MiscFeature"]

In [499]:
for variab in variable_na:
    get_instruction(variab)
    print("Value count before : ")
    print(df[variab].value_counts())
    print()
    print("Fill missing values with NA")
    df.loc[df[variab].isna(),variab] = df.loc[df[variab].isna(),variab].fillna("NA")
    print()
    print("Value count after : ")
    print(df[variab].value_counts())

Alley: Type of alley access to property

       Grvl	Gravel
       Pave	Paved
       NA 	No alley access

Value count before :
Grvl    50
Pave    41
Name: Alley, dtype: int64
Fill missing values with NA
NA      1366
Grvl      50
Pave      41
Name: Alley, dtype: int64
FireplaceQu: Fireplace quality

       Ex	Excellent - Exceptional Masonry Fireplace
       Gd	Good - Masonry Fireplace in main level
       TA	Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement
       Fa	Fair - Prefabricated Fireplace in basement
       Po	Poor - Ben Franklin Stove
       NA	No Fireplace

Value count before :
Gd    379
TA    312
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64
Fill missing values with NA
NA    689
Gd    379
TA    312
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64
PoolQC: Pool quality

       Ex	Excellent
       Gd	Good
       TA	Average/Typical
       Fa	Fair
       NA	No Pool

Value count before :
Gd    3
Fa    2
Ex    2
Name: PoolQC, dtype: int64
Fill missing values with NA
NA    1450
Gd       3
Fa       2
Ex       2
Name: PoolQC, dtype: int64
Fence: Fence quality

       GdPrv	Good Privacy
       MnPrv	Minimum Privacy
       GdWo	Good Wood
       MnWw	Minimum Wood/Wire
       NA	No Fence

Value count before :
MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64
Fill missing values with NA
NA       1176
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: Fence, dtype: int64
MiscFeature: Miscellaneous feature not covered in other categories

       Elev	Elevator
       Gar2	2nd Garage (if not described in garage section)
       Othr	Other
       Shed	Shed (over 100 SF)
       TenC	Tennis Court
       NA	None

Value count before :
Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: int64
Fill missing values with NA
NA      1403
Shed      49
Gar2       2
Othr       2
TenC       1
Name: MiscFeature, dtype: int64

In [500]:
var_missing()

Variable with number of missing values:

LotFrontage    259
MasVnrType       8
MasVnrArea       8
dtype: int64

### Last part

From here, the last 3 variables that have NaN can be treated arbitrarily. Here I use mean imputation for the Lot Frontage and MasVnrArea and make new category NA for MasVnrType

In [525]:
df.loc[df["LotFrontage"].isna(), "LotFrontage"] = df["LotFrontage"].mean()

In [527]:
df.loc[df["MasVnrArea"].isna(), "MasVnrArea"] = df["MasVnrArea"].mean()

In [528]:
df.loc[df["MasVnrType"].isna(), "MasVnrType"] = "NA"

In [530]:
var_missing()

Variable with number of missing values:

Series([], dtype: int64)